html, body {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
}

h1 {
	font-size: 28pt;
	letter-spacing: 12px;
	border-bottom: 1px solid #ddd;
	margin: 0;
}

h2.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
}

#container {
	margin: 100px auto;
	width: 700px;
	color: #555;
}
